<!-- src/account/login.component -->
<h3 class="card-header">Login</h3>
<div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email does not exist</div>
            </div>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="password" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        </div>
        <div class="form-row d-flex justify-content-between align-items-center mt-4">
            <button [disabled]="loading" class="btn btn-primary px-4 py-2">
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                Login
            </button>

            <!-- Register Button -->
            <a routerLink="../register" class="btn btn-outline-primary px-4 py-2">
                Register
            </a>

            <!-- Forgot Password Button -->
            <a routerLink="../forgot-password" class="btn btn-link px-0 py-2 text-decoration-none fw-medium">
                Forgot Password?
            </a>
        </div>
    </form>
</div>